mixin modifyPost()
    script(src = '/static/js/modifyPost.js')
    form.form-modify(action=`#` method="")
        .modify-text
            textarea.form-control(rows=3  name="content" placeholder="Modify comment")
        .modify-btn
            button.btn.btn-info
                | Modify
        .confirm-btn
            button.btn.btn-info
                | Confirm
