mixin nav()
    ul.nav.nav-tabs(role='tablist')
        li.active
            a(href="/")
                | Home
        li
            a(href='/items')
                | All posts
        li
            a(href='/items/form')
                | Add post
        li
            a(href='/auth/sign-in')
                | Sign in
