html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

h1 {
    text-align: center;
}
a{
    color: black !important;
}

a:link, a:hover, a:active {
    text-decoration: none !important;
}

a:hover {
    font-size: 1.05em;
}
#post-topic-btn{
    float:left;
    margin-top: 2%;
    margin-left: 1%;
}
#register-btn {
    float: right;
    width: 15%;
    height: 8%;
    font-size: 150%;
}

#logout-btn {
    float: right;
    width: 15%;
    height: 8%;
    font-size: 150%;
}

.container-filter{
    float:right;
    width: 15%;

}
#reg-form {
    width: 40%;
    padding: 2%;
    margin-left: 25%;
    margin-top: 15%;
}

#reg-form>form>input {
    margin: 2%;
}

#reg-form>form>button {
    margin-top: 2%;
    margin-left: 2%;
    width: 48%;
}

#btn-signin {
    float: left;
}

#btn-register {
    float: right;
    margin-right: -2%;
}

.name-info-left {
    width: 48% !important;
    float: left !important;
    margin-left: 2%;
    margin-bottom: 2%;
}

.name-info-right {
    width: 48% !important;
    float: right !important;
    margin-right: -2%;
}

textarea {
    resize: none;
}

ul {
  list-style-type: none;
}

.container{
    margin-left: 25%;
    width: 50%;

}

div.topic {
    height: 7vh;
    width: 100%;

}

div.author, .container, div#topic-info, div.topic, div.topic a, .topic-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

div.topic a {
    float: left;
}

div#topic-info {
    border-bottom:1px solid black;
    width: 100%;
    padding-left: 0.5%;
    font-size: 150%;
}

.topic-wrapper {
    float: left;
    padding: 1%;
    font-size: 150%;
}

div.comment, .topic-wrapper, div.description {
    word-break:break-all;
}

div#topic-info>div {
    float: left;
}

div.title-info {
    width: 50%;
}

.author-info {
    width: 36%;
}

.topic-wrapper.comments-count-info{
    margin-left: 4%;
}

#user-posts-wrapper{
    display: none;
}

.post-topic{
    padding-top: 10px;
}

div.description {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 1% 0%;
}

div.author>span {
    margin-left: 0%;
}

a.author {
    color: green!important;
}

div.author {
    width: 100%;
    margin-bottom: 1%;
    border-bottom: 1px solid black;
}