html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

h1 {
    text-align: center;
}

#register-btn {
    float: right;
    width: 15%;
    height: 8%;
    font-size: 150%;
}

#logout-btn {
    float: right;
    width: 15%;
    height: 8%;
    font-size: 150%;
}


#reg-form {
    width: 40%;
    padding: 2%;
    margin-left: 25%;
    margin-top: 15%;
}

#reg-form>form>input {
    margin: 2%;
}

#reg-form>form>button {
    margin-top: 2%;
    margin-left: 2%;
    width: 48%;
}

#btn-signin {
    float: left;
}

#btn-register {
    float: right;
    margin-right: -2%;
}

.name-info-left {
    width: 48% !important;
    float: left !important;
    margin-left: 2%;
    margin-bottom: 2%;
}

.name-info-right {
    width: 48% !important;
    float: right !important;
    margin-right: -2%;
}

textarea {
    resize: none;
}

ul {
  list-style-type: none;
}

div.topic {
    height: 7vh;
    margin-left: 25%;
    width: 50%;
    white-space: initial;

}

div.topic, div.topic a, .topic-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

div.topic a {
    float: left;
}

div#topic-info {
    border-bottom:1px solid black;
    margin-left: 25%;
    width: 50%;
    padding-left: 0.5%;
    font-size: 150%;
}

.topic-wrapper {
    float: left;
    padding: 1%;
    font-size: 150%;
    word-break:break-all;
}

div#topic-info>div {
    float: left;
}

div.title-info {
    width: 50%;
}

.author-info {
    width: 36%;
}

.topic-wrapper.comments-count-info{
        margin-left: 4%;
}