extends ../_shared/_master
block body
    if user
        ul
            each item in context
                li
                    =item.title

        form(action="/items/form" method="get")
            button.btn.btn-success
                | Start New Topic
    else
        ul
            each item in context
                li
                    =item.title
