extends ../_shared/_master
include ../_shared/_pageChange
include ../_shared/_modifyPost

block body

    h1
        = topic.title
    if topic.comments
        div.description
            div.comment
                =topic.comments[0].content
            div.author
                span
                    ='Written by '
                a(href=`/users/:user=${topic.comments[0].author}`)
                    =topic.comments[0].author
                p.date-row
                    =topic.comments[0].date
                +modifyPost(topic.title, topic.comments[0]._id, topic.comments[0].content)
    h3
        ='Comments'
    -for (let i = 1; i < topic.comments.length; i+=1)
        div.comment
            =topic.comments[i].content
        div.author
            span
                ='Written by '
            a(href=`/users/:user=${topic.comments[i].author}`)
                =topic.comments[i].author
            p.date-row
                =topic.comments[i].date
            +modifyPost(topic.title, topic.comments[i]._id, topic.comments[i].content)
    +page(topic.comments.length)
    if user
        form(action=`/topics/:title=${topic.title}/comments` method='post')
            textarea.form-control(name='comment' placeholder='Add a comment')
            button.btn.btn-success
                | Submit