extends ../_shared/_master

block body
    h1
        = topic.title
    //- div.description
    //-     = topic.content
    //- if topic.comments
    h3
        ='Comments'
    each comment in topic.comments
        div.comment
            = comment.content
        div.author
            span
                ='Written by '
            a(href=`/users/:user=${comment.author}`)
                =comment.author
            p.date-row
                =comment.date
    if user
        form(action=`/topics/:title=${topic.title}/comments` method='post')
            textarea.form-control(name='comment' placeholder='Add a comment')
            button.btn.btn-success
                | Submit