extends ../_shared/_master
block body
    if user
        form(action="/topics/form" method="get")
            button.btn.btn-success
                | Start New Topic
    h1
        | Topics
    div#topic-info
        div.title-info
            | Title
        div.author-info
            | Author
        div.comments-count-info
            | Comments
    each topic in context
        div.topic
            div.topic-wrapper.title-info
                a(href=`/topics/:title=${topic.title}`)
                    =topic.title
            div.topic-wrapper.author-info
                //a(href='/gosho')
                a(href=`/topisc/:author=${topic.author}`)
                    =topic.author
            div.topic-wrapper.comments-count-info
                //- doesnt work
                //- span
                //-     =topic.comments.length
